# environnement virtuel
Include/
Lib/
Scripts/
share/
etc/
pyvenv.cfg

# cache python
__pycache__/
*.pyc

# données sensibles
data/
datasets/
*.img

# secrets streamlit
.streamlit/secrets.toml

# fichiers temporaires
temp_gif/
.cache/
