# environnement virtuel
Include/
Lib/
Scripts/
share/
etc/
pyvenv.cfg
# cache python
config.yaml
__pycache__/
*.pyc
# données sensibles
*.img
# secrets streamlit
.streamlit/secrets.toml
# fichiers temporaires
temp_gif/
.cache/
streamlit-authenticator
